@model IEnumerable<CoralSafe.Models.Campanha>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Campanhas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Campanhas</h1>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Meta de Valor</th>
                    <th scope="col">Data de Publicação</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var campanha in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => campanha.name)</td>
                        <td>@Html.DisplayFor(modelItem => campanha.descricao)</td>
                        <td>@Html.DisplayFor(modelItem => campanha.valorMeta)</td>
                        <td>@Html.DisplayFor(modelItem => campanha.data_publicacao)</td>
                        <td>
                            <a role="button" class="btn btn-warning btn-sm m-1" asp-route-id="@campanha.Id" asp-controller="Campanha" asp-action="Editar">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a role="button" class="btn btn-danger btn-sm m-1" asp-route-id="@campanha.Id" asp-controller="Campanha" asp-action="Deletar">
                                <i class="fas fa-trash-alt"></i> Apagar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" asp-controller="Campanha" asp-action="Criar">
                <i class="fas fa-plus-circle"></i> Adicionar nova campanha
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
